<div id="book-list">
    {% for book in books %}
        <div id="book-{{ book.id }}">
            <p>{{ book.title }} - {{ book.author }}</p>
            <a href="{% url 'book_edit' book.id %}" 
               hx-get="{% url 'book_edit' book.id %}" 
               hx-target="#content" 
               hx-swap="outerHTML">
               Edit
            </a>
            <a href="{% url 'book_delete' book.id %}" 
               hx-get="{% url 'book_delete' book.id %}" 
               hx-target="#content" 
               hx-swap="outerHTML">
               Delete
            </a>
        </div>
    {% empty %}
        <p>No books found.</p>
    {% endfor %}
</div>
